*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{

    background:#FBE9F4 ;
    font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Arapey', serif;
}
header{
   
    height: 10vh;
    display:flex;
    width: 80%;
     margin:auto;/* margin auto solves the issue of the width and places it at thecenter */
    align-items: center;
}
.logo,ul,.carticon{
    display: flex;

}
.logo{
   
    flex: 4;
}
nav{
    
    flex: 2;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.a-links{
    color:#855A6D;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.2s ease;
}
.a-links:hover{
    background:#613643;
    color: #fff;
    padding:10px;
    border-radius: 6px;
}


.carticon{
    font-size: 20px;
flex: 1;
justify-content: flex-end ;
}
section{
    display: flex;
    width: 80%;
    margin:auto;
min-height:80vh; 
align-items: center;
}
.leftSection{
    
    flex:1;
}
.text h1{
    margin-bottom: 10px;
    font-size: 44px;
    font-weight: 800;
    color: #613643;
    
}
.text p{
    font-size: 20px;
    color:#855A6D;
    
}
.button{
    padding: 30px 0px 0px 30px;
}
.button .visit {
    background: none;
    border: 2px solid #855A6D;
    color:#613643;
    width: 80px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px 0px 20px 0px;
}
.button .shops{
    background:#613643;
    color: #fff;
    width: 80px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px 0px 20px 0px;
    border: 2px solid #855A6D;
}
.rightSection{
    flex:1;
}
.bg{
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    right: 400px;
}
/* .rightSection img{
    height:50vh;
} */